<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="controller" class="ma.cigma.pfe.Controller.FactureController">
        <property name="fservice" ref="service"/>
    </bean>

    <bean id="service" class="ma.cigma.pfe.service.FactureServiceImpl">
        <property name="fdao" ref="dao"/>
    </bean>

    <bean id="dao" class="ma.cigma.pfe.dao.FactureDaoImpl">
    </bean>
</beans>

